header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 10px;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    margin-bottom: 0;
}

img {
    width: 50%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}

footer div a:last-child {
    margin-right: 0;
}

footer div iframe {
    border: 0;
    width: 270px;
    height: 270px;
}

.icon{
    
    width: 25px;
}

.medias{
    display: flex;
    gap: 10px;
    text-align: center;
}  

.media{
    display: flex;
    gap: 3%;
}

.image{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}